---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/zopaUK/Helium/issues
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token b169ed958216cef15ab54543f762c20a58813a1a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4953'
      X-Ratelimit-Reset:
      - '1476975772'
      Etag:
      - W/"3e75e9b7c69c84b737eebbbd9ebb33d6"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/zopaUK/Helium/issues/59","repository_url":"https://api.github.com/repos/zopaUK/Helium","labels_url":"https://api.github.com/repos/zopaUK/Helium/issues/59/labels{/name}","comments_url":"https://api.github.com/repos/zopaUK/Helium/issues/59/comments","events_url":"https://api.github.com/repos/zopaUK/Helium/issues/59/events","html_url":"https://github.com/zopaUK/Helium/pull/59","id":184243942,"number":59,"title":"Updated
        the page sections with headers, and breakpoint font styling.","user":{"login":"orrinward","id":1876245,"avatar_url":"https://avatars.githubusercontent.com/u/1876245?v=3","gravatar_id":"","url":"https://api.github.com/users/orrinward","html_url":"https://github.com/orrinward","followers_url":"https://api.github.com/users/orrinward/followers","following_url":"https://api.github.com/users/orrinward/following{/other_user}","gists_url":"https://api.github.com/users/orrinward/gists{/gist_id}","starred_url":"https://api.github.com/users/orrinward/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/orrinward/subscriptions","organizations_url":"https://api.github.com/users/orrinward/orgs","repos_url":"https://api.github.com/users/orrinward/repos","events_url":"https://api.github.com/users/orrinward/events{/privacy}","received_events_url":"https://api.github.com/users/orrinward/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2016-10-20T14:23:16Z","updated_at":"2016-10-20T14:23:16Z","closed_at":null,"pull_request":{"url":"https://api.github.com/repos/zopaUK/Helium/pulls/59","html_url":"https://github.com/zopaUK/Helium/pull/59","diff_url":"https://github.com/zopaUK/Helium/pull/59.diff","patch_url":"https://github.com/zopaUK/Helium/pull/59.patch"},"body":"https://youtrack.zopian.ad.zopa.com/issue/PBF-135\r\n\r\nFont
        sizing generally, and specifically font-spacing for page headers."},{"url":"https://api.github.com/repos/zopaUK/Helium/issues/58","repository_url":"https://api.github.com/repos/zopaUK/Helium","labels_url":"https://api.github.com/repos/zopaUK/Helium/issues/58/labels{/name}","comments_url":"https://api.github.com/repos/zopaUK/Helium/issues/58/comments","events_url":"https[...]
[...]
